<h1>New Treatment</h1>
<h3><%= @consultation.brief %></h3>
<%= form_for [@consultation, @treatment] do |f| %>
  <% if @treatment.errors.any? %>
    <% for message in @treatment.errors.full_messages %>
      <div class="alert alert-danger" role="alert">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <fieldset class="form-group">
    <%= f.label :treatment_type %>
    <%= f.collection_select(:treatment_type_id, TreatmentType.all, :id, :name) %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :treatment_name %>
    <%= f.text_field :treatment_name, class: "form-control" %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :treatment_for %>
    <%= f.text_field :treatment_for, class: "form-control" %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :treatment_quantity %>
    <%= f.text_field :treatment_quantity, class: "form-control" %>
  </fieldset>
  <%= f.submit class: "btn btn-primary" %>
<% end %>