<% if current_user.role == "doctor" %> 
<div class="medium-2 columns card">
  <div class="content medium-12 columns topper">
    <p class="card-text biggerp smaller">Patient</p>
  </div>
  <br>
  <div class="container">
    <div class="front bordernone">
      <%= image_tag @consultation.user.image %>
    </div>
    <div class="back">
    <br>
      <h5>Details</h5>
      <p class="card-text smaller"></p>
    <p class="card-text"><p class="fieldname">Name</p>
    <%= @consultation.user.first_name %> <%= @consultation.user.last_name %>
    </p>
      <p class="card-text"><p class="fieldname">email</p>
      <%= @consultation.user.email %>
      </p>
    </div>
  </div>
  <div class="content medium-12 columns whitebg">
    <p class="card-text biggerp smaller"><%= @consultation.user.first_name %></p>
  </div>
</div>
<% end %>


<% if current_user.role == "patient"%>
<div class="medium-8 columns" style="margin-bottom: 15px;">
<% else %>
<div class="medium-7 columns" style="margin-bottom: 15px;">
<% end %>

  <div class="card-deck-wrapper rounded">
    <div class="card-deck">
      <div class="card whitebg">
        <div class="row">
          <div class="content medium-12 columns topper">
            <p class="biggerp">Consultation
              <span class="right"><%= @consultation.created_at.strftime("%d/%m/%y")%></span>
            </p>
          </div>
        </div>
        <div class="consultation-row row">
          <div class="medium-3 columns">
            <%= image_tag @consultation.image %>
          </div>
          <div class="medium-9 columns">
            <p class="card-text"><%= @consultation.brief %></p>
          </div>
        </div>  
        <div class="consultation-row row">
          <div class="medium-12 columns" style="margin-top: 20px">
            <hr>
            <p class="card-text centerp" style="text-align: center">
              <span>This <span class="highlighted"><%= @consultation.type_of.downcase %></span> 
              consultation is 

              <% if @consultation.status == "pending" %>
               currently <%= @consultation.status %>
              <% end %>

              <% if @consultation.doctor %>
              assigned to 
              <% if current_user.role == "doctor" %> 
              you 
              <% else %> 
              <%= @consultation.doctor.username %>
              <% end %>
              </span>
            </p>
            <% end %>
          </div> <!-- End of medium-12 columns -->
        </div> <!-- End of consultation-row row -->
      </div>
    </div>
  </div>

  <% if current_user.role == "doctor" %> 

  <div class="card-deck-wrapper rounded">
    <div class="card-deck">
      <div class="card whitebg">
        <div class="comments-form-row consultation-row row">
        
          <%= render partial: 'comments/form', locals: { commentable: @consultation } %>
        

        </div>
      </div>
    </div>
  </div>


<div>

        
        
        <%= render partial: 'comments/comment', collection: @comments, locals: { commentable: @consultation } %>

</div>
<% end %>
</div>










  <% if !@treatment.nil? %>
  <%= render partial: "treatments/treatment", object: @treatment, as: 'treatment' %>
  <% else %>
  <% if current_user.role == "doctor"%>
  <%= link_to "Heal", new_consultation_treatment_path(@consultation), class: "button btn-btn-primary accept-btn" %>
  <% else %>
  <div class="medium-4 columns treatment-card">
  <div class="card-deck-wrapper rounded">
    <div class="card-deck">
      <div class="card whitebg">
        <div class="consultation-row row">
        <div class="content medium-12 columns topper">
          <p class="biggerp">Comments
          </p>
        </div>
        
          <%= render partial: 'comments/form', locals: { commentable: @consultation } %>
        
        <%= render partial: 'comments/comment', collection: @comments, locals: { commentable: @consultation } %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>

</div>


