
  <div class="medium-12 columns">
    <div class="card">
    <div class="row">
      <div class="image medium-3 columns">
        <img src="<%= user.image %>">
        <span class="title"><%= user.username %></span>
      </div>
      <div class="content medium-9 columns">
        <p>I shall be telling this with a sigh  . Somewhere ages and ages hence:   Two roads diverged in a wood, and I —   I took the one less traveled by.  And that has made all the difference.</p>
        <p class="card-text"><%= user.email %></p>
        <p class="card-text"><%= user.role %></p>
        <p class="card-text"><%= user.username %></p>
        <p class="card-text"><small class="text-muted">Joined <%= distance_of_time_in_words(Time.now, user.created_at) %> ago</small></p>
      </div>
      <div class="action">
        <a href='#'>View</a>
      </div>
      </div>
    </div>
  </div>
