<% if user_signed_in? %>
<div class="row">
  <div class="mainlogo green content medium-4 columns">
    <%= image_tag("sage-logo")%>
    </div>
    <div class="content medium-5 columns">  
    <li class="centerme lower accept-btn">
    <%= link_to "Add a case", new_consultation_path, class: "btn btn-primary btn-lg", role: "button" %>
    </li>      
    <li class="centerme lower accept-btn">
    <%= link_to "Search for a doctor", doctors_path, class: "btn btn-primary btn-lg", role: "button" %>
    </li>
  </div>
</div>




    <%else%>

    <div class="mainlogo">
      <%= image_tag("rsz_sage-logo_1")%>
    </div>
    <%end%>

    <br>
    <br>
    <br>

    <p style="padding-left: 10px;">
      <%= link_to "our doctors", doctors_path, class: "btn btn-primary btn-lg", role: "button" %>
    </p>
