<h1>New Enquiry</h1>
<h3><%= @user.username %></h3>
<%= form_for [@user, @enquiry] do |f| %>
  <% if @enquiry.errors.any? %>
    <% for message in @enquiry.errors.full_messages %>
      <div class="alert alert-danger" role="alert">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <fieldset class="form-group">
    <%= f.label :type_of %>
    <%= f.select(:type_of, ['Ortho', 'Cardio','Respiratory', 'Other'])%>
  </fieldset>
    <fieldset class="form-group">
      <%= f.label :brief %>
      <%= f.text_area :brief, class: "form-control" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :image %>
      <%= f.text_field :image, class: "form-control" %>
    </fieldset>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>